@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
    font-family: 'Poppins';
  }

.imgLogo {
  height: 4rem;
  width: 4rem;
}

.gambarprofile{
  object-fit: cover;
  width: 400px;
  height: 400px;
}

.text-justify{
  text-align: justify !important;
}

.email{
  text-decoration: none !important;
  color: black !important;
}

.darkmodeIcon{
  height: 40px;
  width: 40px;
}

.email-white{
  text-decoration: none !important;
  color: white !important;
}

.icon{
  font-size: 3rem !important;
  margin-right: 3rem !important;
}

/* @media screen and (max-width:800px){
  .gambarprofile{
    object-fit: cover;
    width: 250px;
    height: 250px;
  }
} */

@media screen and (max-width:1200px){
  .gambarprofile{
    object-fit: cover;
    width: 250px;
    height: 250px;
  }
}