@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
    font-family: 'Poppins';
  }

.imgLogo {
  height: 4rem;
  width: 4rem;
}

.profilePic{
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.email{
  text-decoration: none !important;
  color: black !important;
}

.darkmodeIcon{
  height: 40px;
  width: 40px;
}

.email-white{
  text-decoration: none !important;
  color: white !important;
}

.icon{
  font-size: 3rem !important;
  margin-right: 3rem !important;
}